.venv
venv
.vscode
*.apkg
*/__pycache__
utils/script_output
utils/input
media_output/
data/*/sound
data/fonts/_hirakakyprow3.otf
data/fonts/_SourceHanSans-Regular.woff2
data/fonts/_NotoSansCJKjp-Regular.woff2
